button {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  height: 46px;
  color: white;
  background-color: #26396e;
  padding: 10px;
  border-radius: 12px;
  table-layout: fixed;
}

.care button {
  width: 220px;
}

.menu button, .ext-links button{
  width: 129px;
}

.menu button:hover, .ext-links button:hover, .care button:hover {
  background-color: #5a6797;
  color: white;
  cursor: pointer;
}

#feed:hover{
  cursor: url("../../assets/dragonfruit_ssugmi.png"), auto;
}

#clean:hover {
  cursor: url("../../assets/toilet-paper.png"), auto;
}
#love:hover {
  cursor: url('../../assets/heart-nicole-mt.png'), auto;
}

#protect:hover{
  cursor: url('../../assets/bubble-shield.png'), auto;
}