button {
  display: inline-block;
  font-family: 'Press Start 2P', cursive;
  height: 46px;
  color: white;
  background-color: #26396e;
  padding: 10px;
  border-radius: 12px;
  table-layout: fixed;
}

.care button {
  width: 220px;
}

.menu button, .ext-links button{
  width: 129px;
}

.menu button:hover, .ext-links button:hover, .care button:hover {
  background-color: #5a6797;
  color: white;
  cursor: pointer;
}