.dialogue {
  display: flex;
  position: absolute;
  z-index: 3;
  margin-top: 438px;
  min-height: 125px;
  width: 100%;
  align-items: center;
  color: white;
  background-color: rgba(39,56,116,255);
  text-align: center;
}

.dialogue p {
  margin: 10px;
  width: 100%;
  text-align: center;
}