.help-info, .credits-info {
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  background-color: black;
  opacity: 90%;
  width: 998px;
  left: -818px;
  top: -49px;
  height: 547px;
  border: 1px solid;
  border-color: #8088aa;
  box-shadow: 5px 10px #8088aa;
}

.help-info p, .credits ul li { //p tags in content
  display: flex;
  justify-content: ce;
  padding: 13px;
}

.show {
  display: flex;
} 


#exit-help, #exit-credits {
  position: absolute;
  top: 10px;
  left: 10px;
}

#exit-help {
  top: 0px;
  left: 0px;
}