h1 {
  font-size: 12px;
}
#game-container {
  width: 1000px;
  height: 567px;
  position: absolute;
  inset: 50% 0px 0px 50%;
  margin-left: -502px;
  margin-top: -297px;
}

.game-title {
  display: flex;
  position: relative;
  justify-content: center;
  top: -23px;
  font-size: 40px;
}

.night-sky {
    width: 100%;
    margin: 0px auto;
    z-index: 1;
    height: 549px;
}

.care, .menu, .ext-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  height: 33%;
  z-index: 3;
  align-items: center;
}

.menu {
  left: 815px;
  z-index: 5;
  top: 88px;
}

.care {
  left: 55px;
  top: 76px;
  height: 64%;
}


.ext-links {
  left: 817px;
  height: 21%;
  top: 315px;
}