#game-container {
  width: 1000px;
  height: 567px;
  position: absolute;
  // top right bottom left
  inset: 50% 0px 0px 50%;
  margin-left: -502px;
  margin-top: -297px;
}

#start {
  position: absolute;
  z-index: 6;
  background-color: white;
  width: 1000px;
  height: 567px;
}

.game-title {
  display: flex;
  position: relative;
  justify-content: center;
}

.night-sky {
    width: 100%;
    margin: 0px auto;
    z-index: 1;
    height: 549px;
}

.care, .menu, .ext-links{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  height: 100%;
  z-index: 2;
}

.menu {
  align-items: flex-end;
  left: -97px;
}

.care {
  left: 118px;
  top: 118px;
  height: 43%;
}

.ext-links {
  left: 1002px;
}

button {
  height: 46px;
}