h1 {
  font-size: 12px;
}
#game-container {
  width: 1000px;
  height: 567px;
  position: absolute;
  // top right bottom left
  inset: 50% 0px 0px 50%;
  margin-left: -502px;
  margin-top: -297px;
}

.game-title {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 40px;
}

.night-sky {
    width: 100%;
    margin: 0px auto;
    z-index: 1;
    height: 549px;
}

.care, .menu, .ext-links{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  height: 100%;
  z-index: 2;
}

.menu {
  align-items: flex-end;
  left: -63px; //Press req -97 and lexend req -63
}

.care {
  left: 62px;
  top: 118px;
  height: 50%;
}

.ext-links {
  left: 1002px;
}

button {
  height: 46px;
}

.menu button:hover, .ext-links button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.care button:hover {
  background-color: pink;
  color: black;

}
#feed:hover{
  cursor: url("../../assets/dragonfruit_ssugmi.png"), auto;
}

#clean:hover {
  cursor: url("../../assets/toilet-paper.png"), auto;
}
#love:hover {
  cursor: url('../../assets/heart-nicole-mt.png'), auto;
}

#protect:hover{
  cursor: url('../../assets/bubble-shield.png'), auto;
}