#ghost {
  position: absolute;
  inset: 38% 0px 0px 50%;
  z-index: 4;
  -webkit-animation-duration: 6s;
  -webkit-animation-name: linear, bounce;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-duration: 6s;
  animation-name: linear, bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#angry-ghost {
  position: absolute;
  z-index: 6;
  top: -476px;
  left: -410px;
}

#poop {
  position: absolute;
  z-index: 3;
  top: 289px;
  left: 581px;
}

@-webkit-keyframes linear {
  from { //0%
    margin-left: -20%; 
  }
  to { //100
    margin-left: 20%; 
  }
}

@keyframes linear { 
  0% {
    margin-left: -20%; 
  }
  5% {
    margin-left: -20%
  }
  100% {
    margin-left: 20%; 
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
  }
  40%  {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  70%{
    -webkit-transform: translateY(-50px);
    transform: -50px;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
  }
  40%  {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px)
  }
  70%{
    -webkit-transform: translateY(-50px);
    transform: -50px;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}