@import "./styles/dialogue.scss";
@import "./styles/ghost.scss";
@import "./styles/game-setting.scss";
@import "./styles/reset.scss";

body, button {
  // font-family: 'Lexend', sans-serif;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: black;
}