@import "./styles/ghost.scss";
@import "./styles/game-setting.scss";
@import "./styles/reset.scss";

@font-face {
  font-family: 'monogram';
  src: url('./styles/monogram.ttf') format('truetype');
}

body, button {
  font-size: 30px;
	font-family: 'monogram';
}